.container{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    margin-left: 650px;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
}
.container> a{
    text-decoration: none;
    border: 2px solid;
    border-radius: 50%;
    border-color: black;
    margin: 10px;
}
h1{
    text-align: center;
}